name: Keep Render Alive

on:
  schedule:
    - cron: '*/10 * * * *'  # Runs every 10 minutes
  workflow_dispatch:  # Allows manual triggering

jobs:
  curl-website:
    runs-on: ubuntu-latest

    steps:
      - name: Ping website to prevent spin down
        run: curl -I https://rashidatbalogun.onrender.com/
